user-dirs.dirs
mozilla/
.nuxtrc
Cypress/
google-chrome-for-testing/
.mozilla/
filelightrc
libreoffice/
gtk-4.0/
create-next-app-nodejs/
configstore/
JetBrains/
gh/
eden/
github-copilot/
nextjs-nodejs
neofetch/
user-dirs.locale
systemd/
gtk-3.0/
dconf/
Electron/
discord/
goverlay/
ibus/
keepassxc/
MangoHud/
menus/
nautilus/
pulse/
xsettingsd/
pavucontrol.ini
QtProject.conf
go/
glib-2.0/
chromium/
Jackett/
matplotlib/
qBittorrent/
procps/
Postman/
mimeapps.list
tmux/plugins/
BraveSoftware/
Code\ -\ OSS/
corectrl/
draw.io/
figma-linux/
filezilla/
google-chrome/
google-chrome-unstable/
lact/
nordvpn/
nvm/
opera/
pupgui/
QtProject/
vlc/
nvim/
zoom*

